<div class="uk-flex">
<mat-card class="roma-card">
    <mat-card-header>
      <div mat-card-avatar class="roma-header-image"></div>
      <mat-card-title>ROMA BISKUIT</mat-card-title>
      <mat-card-subtitle>Sinaria Grosir</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/roma.png">
    <mat-card-content>
      <p>
        Rp. 8.000,00,-
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button color="warn" href="/public/cart">Tambah</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="monde-card">
    <mat-card-header>
      <div mat-card-avatar class="monde-header-image"></div>
      <mat-card-title>BUTTER COOKIES</mat-card-title>
      <mat-card-subtitle>Sinaria Grosir</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/monde.png">
    <mat-card-content>
      <p>
        Rp. 25.000,00,-
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button color="warn" href="/public/cart">Tambah</a>
    </mat-card-actions>
  </mat-card>
</div>
