<ng-container>
    <!--toolbar-->
    <mat-toolbar color="primary" class="example-header">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span> CV Sinaria</span>
        <div class="uk-width-expand"></div>
        <small>Admin</small>
        <button mat-button (click)="logout()">Logout</button>
            <mat-icon>logout</mat-icon>
    </mat-toolbar>
    <!--end toolbar-->
    
    <mat-sidenav-container class="example-container">
    
      <mat-sidenav 
      #sidenav mode="push" 
      [position]="'start'" 
      [opened]= "false"
      class="sidenav-left"
      [fixedInViewport]="true" 
      [fixedTopGap]="60"
      [fixedBottomGap]="0">
    
      <mat-nav-list>
        <mat-list-item routerLink="/admin/dashboard">
            <mat-icon matListIcon>description</mat-icon>
            <h3 matLine>Home</h3>
        </mat-list-item>
        <mat-list-item routerLink="/admin/product">
            <mat-icon matListIcon>face</mat-icon>        
            <h3 matLine>Product</h3>
        </mat-list-item>
        <mat-list-item routerLink="/admin/info">
            <mat-icon matListIcon>analytics</mat-icon>
            <h3 matLine>Info</h3>
        </mat-list-item>
        <mat-list-item routerLink="/public/home">
            <mat-icon matListIcon>leaderboard</mat-icon>
            <h3 matLine>SINARIA</h3>
        </mat-list-item>
       </mat-nav-list>
    
    
      </mat-sidenav>
    
    <mat-sidenav #sidenav mode="side" [position]="'end'"  class="example-sidenav"
    [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="0">
    
       
    
    </mat-sidenav>
    <!--sidenav content-->
    <mat-sidenav-content style="padding: 20px; background-color: rgb(228, 236, 238);">
    <!--halaman-halaman tampil disini-->
    
   
<router-outlet></router-outlet>
    
    </mat-sidenav-content>
    <!--end sidenav content-->
    </mat-sidenav-container>   
    </ng-container>
