
<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(assets/SINARIA.png);">
    </div>
      <div class="uk-card uk-card-hover uk-card-body">
          <h3 class="uk-card-title">SELAMAT DATANG</h3>
          <h4><span class="uk-text-right"></span></h4>
          <h4>SINARIA GROSIR menyediakan kebutuhan sehari-hari dengan
            harga yang miring, mudah, dan terpecaya</h4>
          
          <div class="uk-card-footer">
            <a href="public/katalog" class="uk-button uk-button-text">KATALOG</a>
            
        </div>
      </div>
     
</div>