
.uk-card-title {
    color: rgb(36, 99, 124);
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    justify-content: center;
}