<div class="uk-flex">
  <mat-card class="kapalapi-card">
      <mat-card-header>
        <div mat-card-avatar class="kapalapi-header-image"></div>
        <mat-card-title>KAPAL API</mat-card-title>
        <mat-card-subtitle>Sinaria Grosir</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/kapalapi.png">
      <mat-card-content>
        <p>
          Rp. 8.000,00,-
        </p>
      </mat-card-content>
      <mat-card-actions>
          <a mat-raised-button color="warn" href="/public/katalog">Tambah</a>
      </mat-card-actions>
    </mat-card>
  
    <mat-card class="coklat-card">
      <mat-card-header>
        <div mat-card-avatar class="coklat-header-image"></div>
        <mat-card-title>CHOCOLATOS</mat-card-title>
        <mat-card-subtitle>Sinaria Grosir</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/coklat.png">
      <mat-card-content>
        <p>
          Rp. 3.000,00,-
        </p>
      </mat-card-content>
      <mat-card-actions>
          <a mat-raised-button color="warn" href="/public/katalog">Tambah</a>
      </mat-card-actions>
    </mat-card>
  </div>
  